@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


body{
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

#leftSide{
  background-color: #caa;
  position: fixed;
  height: 100%;
  width: 300px;
  left: 0px;
  
  text-align: center;
  color: white;
  background: rgb(181,208,219);
  background: -webkit-gradient(linear, left top, right top, color-stop(95%, rgba(181,208,219,1)), to(rgba(165,189,199,0.8)));
  background: -o-linear-gradient(left, rgba(181,208,219,1) 95%, rgba(165,189,199,0.8) 100%);
  background: linear-gradient(90deg, rgba(181,208,219,1) 95%, rgba(165,189,199,0.8) 100%);

  
  -webkit-transition: all 1s;

  
  -o-transition: all 1s;

  
  transition: all 1s;
}

#buttonOpenSide{
  display: none;
  position: absolute;
  right: 0;
  height: 100%;
  width: 25px;
  background-color: inherit;
  text-align: center;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

h1{
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  text-shadow: 2px 2px 1px #9fb8c2;
  margin-top: 30px;
  margin-bottom: 10px;
}

#leftSide__photo{
  background-color: #D2E4E4;
  border-radius: 50%;
  margin: 30% auto;
  
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 70%;

  overflow: hidden;
}

#leftSide__photo > img{
  width: 100%;
}

#leftSide__links > p > a{
  color: #5094af;
}

.icon{
  width: 15px;
  height: 15px;
  margin-right: 10px;
  filter:grayscale(0.9);
}


#rightSide{
  position: relative;
  padding: 30px;
  left: 300px;
  width: 60%;
  
  border-left: 7px solid #EFEDF0;
/*   box-shadow: -5px 0px 10px #a5bdc7; */
  padding: 20px 60px;
  
  -webkit-transition: all 1s;
  
  -o-transition: all 1s;
  
  transition: all 1s;
}

nav > ul{
  list-style-type: none;
  margin: 30px 0px;
  padding: 0;
}

nav > ul > li:not(:first-child){
  margin-left: 30px;
}

nav > ul > li:after{
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  margin: 3px auto;
  background-color: #FFCD38;
  
  opacity: 0;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

nav > ul > li:hover:after{
  opacity: 1;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

nav > ul > li{
  cursor: pointer;
}

.h2wrapper{
  position: relative; /* важен для h2:before - absolute */
}

h2{
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  color: white;
  text-shadow: 2px 2px 1px #e6b935;
  background-color: #FFCD38;
  
  width: 50px;
  margin-left: -60px;
  padding: 3px 10px 3px 60px;
}

h2:before{
  content: '';
  display: block;
  position: absolute;
  background-color: #EABD34;
  width: 8px;
  height: 42px;
  left: -67px;
  bottom: 5px;
  -webkit-transform: skewY(55deg);
      -ms-transform: skewY(55deg);
          transform: skewY(55deg);
}

.h2description{
  margin: 28px 20px;
  color: #C3C3C3;
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
}

h3{
  color: #525252;
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  margin-bottom: 15px;
}

p{
  color: #868686;
}

/* aboutMe block */

.aboutMe__text{
  padding-right: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.aboutMe__review{
  padding-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px
}

.review__text{
  background-color: #FCFCFC;
  border: 2px solid #E5E5E5;
  border-radius: 10px;
  font-style: italic;
  padding: 10px 20px;
  margin-left: 30px;
}

.review__text > p{
  transition: all .3s;
}

.client__avatarWrapper{
  width: 70px;
}

.client__avatar{
  width: 70px;
  height: 70px;
  border: 2px solid #E5E5E5;
  border-radius: 50%;
  position: relative;
  top: -20px;
  overflow: hidden;
}

.client__avatar > img{
  height: 100%;
  transition: all .3s;
}

.client__nameCompanyWrapper{
  margin: 10px;
}

.client__name{
  font-family: 'Oswald', sans-serif;
  color: #525252;
  margin: 0;
  transition: all .2s;
  flex: 1 1 100px;
}

.client__company{
  font-style: italic;
  font-size: .9rem;
  margin: 0;
  transition: all .2s;

}

.review__previous,
.review__next{
  background-color: #EFEFEF;
  width: 25px;
  height: 23px;
  text-align: center;
  border-radius: 1px;
  color: grey;
  margin: 10px 2px;
  padding-top: 1px;
  cursor: pointer;
  border: none;
  font-family: 'Rubik', sans-serif;
}

.review__tooglersWrapper{
  margin-right: 2%;
}

/* technologies block */

.technologies__item{
  background-color: #FCFCFC;
  margin: 10px 0px;
  padding: 5px;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.technologies__item__img{
  height: 80px;
  text-align: center;
}

.technologies__item__img > img{
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h4{
  color: #525252;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
}

/* projects block */

.projects__h2{
  width: 100px;
  background-color: #FFCD38;
}

.projects__item{
  background-color: #FCFCFC;
  margin: 10px 0px;
  padding: 5px;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.projects__item__img{
  height: 80px;
  background-color: #ccc;
}

li{
  font-family: 'Rubik', sans-serif; 
  color: #525252;
}

a{
  text-decoration: none;
  color: #EABD34;
}

a:visited{
  color: #ccc;
}

/* contacts block */

.contacts__h2{
  width: 110px;
  background-color: #FFCD38;
}

.icon{
  width: 15px;
  height: 15px;
  margin-right: 10px;
}


/* css framework options */

.d-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.fw-wrap{
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jc-space-between{
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bgc{
  background-color: #ccc;
}

.ta-center{
  text-align: center;
}

.lineAfter:after{
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  margin: 0 auto;
  background-color: #FFCD38;
}

.italic{
  font-style: italic;  
}

.p-0{
  padding: 0;
}

.m-0{
  margin: 0;
}

.mt-50{
  margin-top: 50px;
}

@media screen and (max-width: 1300px){
  #rightSide{
    width: 50%;
  }
}

@media screen and (max-width: 920px){
  nav{
    display: none;
  }
  .h2description{
    display: none;
  }
  #rightSide{
    width: 45%;
  }
}

@media screen and (max-width: 850px){
  #leftSide{
    left: -270px;
  }
  #rightSide{
    left: 30px;
    width: 75%;
  }
  #buttonOpenSide{
    display: block;
  }
}

@media screen and (max-width: 650px){
  #rightSide{
    width: 70%;
  }
}

@media screen and (max-width: 530px){
  #rightSide{
    width: 60%;
  }
}

@media screen and (max-width: 400px){
  #rightSide{
    width: 70%;
    padding: 10px;
  }
  
  h2{
    width: 50px;
    margin-left: -10px;
  }

  h2:before{
    left: -17px;
  }
  
  .contacts__h2{
    width: 150px;
  }
  
  .projects__h2{
    width: 150px;
  }
}